{% extends "geographie/base.html" %}

{% block title %}Provinces Ecclésiastiques{% endblock %}

{% block content %}
    <!-- Provinces Section-->
    <section class="py-5">
        <div class="container px-5 mb-5">
            <div class="text-left mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Provinces Ecclésiastiques du Cameroun</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    {% for province in provinces %}
                        <!-- Province Card -->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder"><a href="{% url 'province-details' nom_province=province.nom %}">{{ province.nom }}</a></h2>
                                        <h5 class="fw-bolder">Archevêque : {{ province.archeveque }}</h5>
                                        <p>{{ province.description }}</p>
                                        <p>Cette province compte {{ province.departements.count }} départements répartis sur {{ province.regions.count }} régions.</p>
                                            {% for region in province.regions.all %}
                                                <ol>
                                                    <li>
                                                        <h5>Région N° {{ region.id }} : {{ region.nom }}</h5>
                                                    </li>
                                                    <ul>
                                                        <li>
                                                            <h5>Départements :</h5>
                                                            <ul>
                                                                {% for departement in region.departements.all %}
                                                                    {% if departement.province == province %}
                                                                        <li>{{ departement.nom }}</li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </ol>   
                                            {% endfor %}
                                    
                                            <hr> <!-- Séparation entre provinces -->
                                    </div>
                                    <!-- <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." /> -->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>        

{% endblock %}