{% extends "geographie/base.html" %}
{% load static %}

{% block title %} {{ zone.nom }} {% endblock %}

{% block content %}

    <section class="py-5">
        <div class="container mt-4">
            <div class="text-left mb-5">
                <h3 class="display-5 text-center fw-bolder mb-0">
                    <span class="text-gradient d-inline">{{ zone.diocese }}</span>
                </h3>
                <h4 class="display-5 text-center fw-bolder mb-0">
                    <span class="text-gradient d-inline">{{ zone.nom }}</span>
                </h4>
            </div>
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Liste des Paroisses
                </div>
                <div class="card-body">
                    <table id="datatablesSimple" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Effectif</th>
                                <th>Curé</th>
                                <th>Responsable</th>
                                <th>Contacter</th>
                                <th>Détails</th>
                            </tr>
                        </thead>
                       <!-- <tfoot>
                            <tr>
                                <th>Nom</th>
                                <th>Position</th>
                                <th>Bureau</th>
                                <th>Âge</th>
                                <th>Date de début</th>
                                <th>Salaire</th>
                            </tr>
                    </tfoot>-->
                        <tbody>
                            {% for paroisse in paroisses %}
                                <tr>
                                    <td>{{ paroisse.nom }}</td>
                                    <td>{{ paroisse.effectif }}</td>
                                    <td>{{ paroisse.cure }}</td>
                                    <td>{{ paroisse.responsable }}</td>
                                    <td><input type="button" value="Contacter"></td>
                                    <td><input type="button" value="Détails"></td>
                                </tr>
                            {% endfor %}
                        <!-- Ajouter d'autres lignes ici -->
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

